{% block collection_row %}
    {{ form_widget(form) }}
{% endblock collection_row %}

{% block collection_widget %}
    {% for child in form %}
        <tr id="{{ form.vars.id }}" role="row" class="odd">
            <td class="sorting_1">{{ form.vars.value[loop.index0].team.name }}</td>
            <td class="role">
                <span>{{ form.vars.value[loop.index0].role }}</span>
                {{ form_widget(child.role) }}
            </td>
            <td>
                <a href="#" class="btn btn-sm btn-info" data-bind="click{editRole(#{{ form.vars.id }})}">Edit</a>
                <a href="#" class="btn btn-sm btn-danger" data-bind="click{deleteDom(#{{ form.vars.id }})}">Delete</a>
                {{ form_widget(child.node) }}
                {{ form_widget(child.team) }}
            </td>
        </tr>
    {% endfor %}
{% endblock collection_widget %}
