{% extends 'PassVaultPassBundle:Node:index.html.twig' %}

{% form_theme form.password 'PassVaultPassBundle:Form:password.html.twig' %}

{% block node %}
    {{ form_start(form) }}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{% if node.id is null %}new Password{% else %}Password {{ node.name }}{% endif %}</h3>
                <div class="box-tools pull-right">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {{ form_row(form.parent) }}
                {{ form_row(form.link) }}
                {{ form_row(form.account) }}
                {{ form_row(form.password) }}
            </div>
        </div>
        {% include 'PassVaultPassBundle:Node:nodeteam.html.twig' %}
        {% include 'PassVaultPassBundle:Node:nodeuser.html.twig' %}
    {{ form_end(form) }}
    {% include 'PassVaultPassBundle:Node:nodeteam-modal.html.twig' %}
    {% include 'PassVaultPassBundle:Node:nodeuser-modal.html.twig' %}
{% endblock %}