{% extends ':Layout:base.html.twig' %}

{% set module = 'password' %}

{% block body %}

    {% if node is defined %}
        {% if not node.id is null %}
            {% set activeNode = node %}
        {% elseif not node.parent is null %}
            {% set activeNode = node.parent %}
        {% endif %}
    {% endif %}

    <div class="wrapper">
        {% include ':Layout:header.html.twig' %}
        {% include ':Layout:sidebar.html.twig' %}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>Passwords</h1>
            </section>
            <section class="content">
                <div class="col-xs-4">
                    <a href="{{ path('passvault_node_add', {'type': 'vault'}) }}" class="btn btn-primary btn-block margin-bottom">Create a vault</a>
                    <div class="box box-primary">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-bordered treegrid nav-stacked">
                                <thead>
                                <tr>
                                    <th>Vaults</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for treenode in nodes %}
                                    <tr class="treegrid-{{ treenode.id }}{% if treenode.parent != null %} treegrid-parent-{{ treenode.parent.id }}{% endif %}{% if activeNode is defined and treenode == activeNode %} tree-activate{% endif %}" style="display: none;">
                                        <td>
                                            {% if treenode.icon is defined %}
                                                <i class="{{ treenode.icon }}"></i>
                                            {% endif %}
                                            <span class="tree-space"><a href="{{ path('passvault_node_view', {'id': treenode.id }) }}">{{ treenode.name }}</a></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    {% if error is defined and error|length > 0 %}
                        <div class="error-page">
                            <h2 class="headline text-red">{{ error.code }}</h2>
                            <div class="error-content">
                                <h3><i class="fa fa-warning text-red"></i> {{  error.title }}</h3>
                                <p>{{ error.text }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% block node %}{% endblock %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
