{% if not node.id is null %}
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table id="passwords" class="table table-bordered table-hover dataTable" role="grid" data-bind="ready[datatables()]">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1" aria-sort="ascending">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1">Link</th>
                        <th class="sorting" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1">Username</th>
                        <th class="sorting" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1">Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in node.children %}
                        {% if child is instanceof('\\PassVault\\PassBundle\\Entity\\Password') %}
                            <tr>
                                <td><a href="{{ path('passvault_node_view', {'id': child.id}) }}">{{ child.name }}</a></td>
                                <td>
                                    <span>{{ child.link }}</span>
                                    <div class="pull-right">
                                        <a href="{{ child.link }}" class="btn btn-default btn-flat btn-xs" target="_blank">
                                            <i class="fa fa-fw fa-link"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <span id="{{ child.id }}-account">{{ child.account }}</span>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat btn-xs" data-bind="click{clipboard(#{{ child.id }}-account)}">
                                            <i class="fa fa-fw fa-clipboard"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <span id="{{ child.id }}-password" class="passvault">{{ child.password }}</span>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat btn-xs" data-bind="click{clipboard(#{{ child.id }}-password)}">
                                            <i class="fa fa-fw fa-clipboard"></i>
                                        </a>
                                        <a href="#" class="btn btn-default btn-flat btn-xs" data-bind="click{toggleClass(#{{ child.id }}-password,passvault)}">
                                            <i class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}