{% extends 'PassVaultPassBundle:Node:index.html.twig' %}

{% block node %}
    {{ form_start(form) }}
        <div class="box box-primary {% if not node.id is null %}collapsed-box{% endif %}">
            <div class="box-header with-border">
                <h3 class="box-title">{% if node.id is null %}new Folder{% else %}Folder : {{ node.name }}{% endif %}</h3>
                <div class="box-tools pull-right">
                    {% if not node.id is null %}
                        <a href="{{ path('passvault_node_add_to', {'parent': node.id, 'type': 'folder'}) }}" class="btn btn-sm btn-default">Create Folder</a>
                        <a href="{{ path('passvault_node_add_to', {'parent': node.id, 'type': 'password'}) }}" class="btn btn-sm btn-default">Create Password</a>
                    {% endif %}
                    {{ form_widget(form.submit) }}
                    {% if not node.id is null %}
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {{ form_row(form.parent) }}
            </div>
        </div>
        {% include 'PassVaultPassBundle:Node:nodepassword.html.twig' %}
        {% include 'PassVaultPassBundle:Node:nodeteam.html.twig' %}
        {% include 'PassVaultPassBundle:Node:nodeuser.html.twig' %}
    {{ form_end(form) }}
    {% include 'PassVaultPassBundle:Node:nodeteam-modal.html.twig' %}
    {% include 'PassVaultPassBundle:Node:nodeuser-modal.html.twig' %}
{% endblock node %}