{% extends ':Layout:base.html.twig' %}

{% form_theme form.users 'PassVaultUserBundle:Form:teamuser.html.twig' %}

{% set module = 'team' %}

{% block body %}
    <div class="wrapper">
        {% include ':Layout:header.html.twig' %}
        {% include ':Layout:sidebar.html.twig' %}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>Teams</h1>
            </section>
            <section class="content">
                <div class="col-xs-4">
                    <a href="{{ path('passvault_team_add') }}" class="btn btn-primary btn-block margin-bottom">Create a team</a>
                    <div class="box box-solid">
                        <div class="box-body no-padding">
                            <ul class="nav nav-stacked">
                                {% for teammenu in teams %}
                                    <li {% if team is defined and teammenu == team %}class="active"{% endif %}>
                                        <a href="{{ path('passvault_team_view', {'id': teammenu.id}) }}">{{ teammenu.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    {% if not team is null %}
                        {{ form_start(form) }}
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{% if team.id is null %}new Team{% else %}Team {{ team.name }}{% endif %}</h3>
                                    <div class="box-tools pull-right">
                                        {{ form_widget(form.submit) }}
                                        {% if not team.id is null %}
                                            <a href="{{ path('passvault_team_delete', {'id': team.id}) }}" class="btn btn-sm btn-danger">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="box-body">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            {% if not team.id is null %}
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">User list</h3>
                                        <div class="box-tools pull-right">
                                            <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#inviteUser-modal">Invite User</a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table id="teamusers" class="table table-bordered table-hover dataTable" role="grid" data-bind="ready[datatables()]">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1" aria-sort="ascending">Lastname</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Firstname</th>
                                                    <th class="sorting" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Email</th>
                                                    <th class="sorting" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Role</th>
                                                    <th class="sorting" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{ form_row(form.users) }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
    {% if not team.id is null %}
        <div id="inviteUser-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ path('passvault_team_add_user', {'id': team.id}) }}" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Invite User</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label required" for="team_name">Team</label>
                                <input type="text" name="team" required="required" class="form-control" value="{{ team.name }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label required" for="team_name">Email</label>
                                <input type="text" name="email" required="required" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label required" for="team_name">Role</label>
                                <select name="role" class="form-control">
                                    <option value="ROLE_ADMIN" selected="selected">teamuser.form.role.list.admin</option>
                                    <option value="ROLE_CONTRIBUTOR">teamuser.form.role.list.contributor</option>
                                    <option value="ROLE_READER">teamuser.form.role.list.reader</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Invite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="delete-modal" class="modal modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete element</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
